<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="ActiproSoftware.Shared.Net20"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ActiproSoftware.SyntaxEditor.Net20"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ActiproSoftware.WinUICore.Net20"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Engine"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Engine.Shell"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Interfaces"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ProductInfo"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PSLanguage"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ScriptEditor.Shared"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="UI.Controls"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="UI.Controls.Base"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>